@model IEnumerable<Project_JS.Models.Book>

@{
    ViewData["Title"] = "Кошик";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />

<div class="container py-5 min-vh-100">
    <h2 class="mb-4 text-center">Ваш кошик</h2>

    <div class="row g-4">
        
        <div class="col-lg-8" id="cartItemsContainer">
      
        </div>

       
        <div class="col-lg-4">
            <div class="card shadow-sm p-4 sticky-top" style="top: 90px;">
                <h4>Інформація про замовлення</h4>
                <hr />
                <p><strong>Загальна сума:</strong> <span id="cartTotal">0.00 грн</span></p>
                <button class="btn btn-success w-100" id="checkoutBtn">Оформити замовлення</button>
                <button class="btn btn-danger w-100 mt-2" id="clearCartBtn">Очистити кошик</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
